aiohttp==3.8.1
aiohttp-cors==0.7.0
aiohttp-security==0.4.0
aiohttp-session==2.11.0
aiopg==1.3.3
aioredis==2.0.1
aiosignal==1.2.0
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
charset-normalizer==2.0.12
colorama==0.4.4
frozenlist==1.3.0
idna==3.3
iniconfig==1.1.1
multidict==6.0.2
packaging==21.3
passlib==1.7.4
peewee==3.14.10
peewee-async==0.7.2
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
pytest-aiohttp==1.0.4
pytest-asyncio==0.18.3
tomli==2.0.1
typing_extensions==4.2.0
yarl==1.7.2
